::-webkit-input-placeholder {
	color:#444;
}
::-moz-placeholder {
	color:#444;
}
body {
	font-family: 'Scada', sans-serif;
	text-align:center;
	background-image:url('/static/img/hexabump/hexabump.png');
	color:#CCC;
}
input {
	background-image:url('/static/img/debut_dark.png');
	color:#BFFF00;
	font-family:'Scada', sans-serif;
	font-size:32px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	border-color: #00CCFF;
	border-radius: 5px;
	border-style: solid;
	border-width: 2px;
	padding:20px;
	box-shadow: #00CCFF 0px 0px 16px 0px, #00CCFF 0px 0px 20px 0px inset;
}
input:focus {
	outline:none;
	background-image:none;
	background-color:#222;
}
#service {
	margin-left:auto;
	display:block;
}
.mastertext {
	margin-right:auto;
	display:block;
}
#length {
	display:block;
	font-size:24px;
	text-align:center;
	padding:10px;
	margin-left:auto;
	margin-right:auto;
	box-shadow: #00CCFF 0px 0px 4px 0px, #00CCFF 0px 0px 10px 0px inset;
}
#other {
	display:block;
	text-align:center;
	font-size:18px;
	padding:5px;
	margin-left:auto;
	margin-right:auto;
	box-shadow: #00CCFF 0px 0px 4px 0px, #00CCFF 0px 0px 10px 0px inset;
}
div#formbox {
	margin-top:100px;
}
.selected-result {
	border-color: #77DD00;
	border-radius: 5px;
	border-style: solid;
	border-width: 2px;
	box-shadow: #77DD00 0px 0px 16px 0px, #77DD00 0px 0px 20px 0px inset;
}

.deselected-result {
	border-color: #222222;
	border-radius: 5px;
	border-style: solid;
	border-width: 2px;
	box-shadow: #222222 0px 0px 12px 0px, #222222 0px 0px 10px 0px inset;
}

#result {
	background-image:url('/static/img/hexabump/hexabump.png');
	margin-bottom:15px;
	display:block;
	font-size:32px;
	padding:20px;
	margin-left:auto;
	margin-right:auto;
}
div#btn:hover{
	cursor:pointer;
}
div#btn {
	margin-top:20px;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
	width: 400px;
	font-color: white;
	background-color:#999;
}
#defaultsbox{
	margin-left:auto;
	margin-right:auto;
	width:400px;
	background:#222;
	border-bottom-color: #00CCFF;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-left-color: #00CCFF;
	border-left-style: solid;
	border-left-width: 2px;
	border-right-color: #00CCFF;
	border-right-style: solid;
	border-right-width: 2px;
	border-top-color: #00CCFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-style: solid;
	border-top-width: 2px;
	box-shadow: #00CCFF 0px 0px 16px 0px, #00CCFF 0px 0px 20px 0px inset;
}
a#showdefaults {
	color:#999;
	margin-bottom:15px;
	margin-top:5px;
}
a#showdefaults:hover{
	color:#AAA;
	cursor:pointer;
}
a.mainlink{
	display:block;
}
a {
	color:#999;
	margin-bottom:15px;
	margin-top:5px;
	text-decoration:none;
}
a:hover {
	color:#AAA;
	cursor:pointer;
}
p {
	margin-top:20px;
	margin-left:150px;
	margin-right:150px;
	margin-bottom:20px;
}
div#aboutbox {
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	width:600px;
	background:#222;
	border-color: #2ACBF3;
	border-radius: 5px;
	border-style: solid;
	border-width: 2px;
	box-shadow: #2ACBF3 0px 0px 16px 0px, #2ACBF3 0px 0px 20px 0px inset;
}
div#biginputsbox{
	background-color:#222;
	padding-top:20px;
	width:600px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	border-radius: 5px;
	border-style: solid;
	border-color: #CCFFFF;
	border-width: 2px;
	box-shadow: #CCFFFF 0px 0px 16px 0px, #CCFFFF 0px 0px 20px 0px inset;
}
h1 {
	margin-left:auto;
	margin-right:auto;
	font-size:80px;
	text-shadow: #BFFF00;
	color:#BFFF00;
}
h2 {
	font-size:50px;
	color:#6BBB00;
}
